BeautifulSoup==3.2.1
Flask==0.10.1
GitPython==0.3.2.RC1
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
async==0.6.1
clint==0.3.1
gdata==2.0.18
gitdb==0.5.4
itsdangerous==0.23
legit==0.1.1
ordereddict==1.1
requests==1.2.3
scrubber==1.6.1
smmap==0.8.2
unicodecsv==0.9.4
wsgiref==0.1.2
google-api-python-client==1.2
keyring==3.0.2
xlrd==0.9.2
python-dateutil==2.1
Markdown==2.3.1
