body,
.checkbox label{
    font-family: "Palatino", "Georgia", serif;
    font-size: 18px;
    background: #f9f9f9;
}
h1 { margin-top: 40px; }
h3 { font-weight: bold; margin-top: 40px;}

label {
    font-family: "Tahoma", Arial, sans-serif;
    color: #422D62;
    font-size: 14px;
}

p a,
.btn-link {
    /*color: #00A8EE;*/
    color: #422D62;
    border-bottom: 1px solid #714fa5;
    box-shadow: inset 0 -1px 0 #714fa5;
    transition: box-shadow 0.5s ease;
}

p a:active,
p a:hover,
p a:focus,
.btn-link:active,
.btn-link:hover,
.btn-link:focus {
    text-decoration: none;
    color: #422D62;
    box-shadow: inset 0 -4px 0 #714fa5;
}

p a.help { border-bottom: 0; box-shadow: none; }

.navbar { font-size: 14px; font-family: "Tahoma", Arial, sans-serif;}
.navbar-default .navbar-nav>li>a {
    /*color: #7B708B;*/
    color: #787579;
    font-size: 12px;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a.tagline {
    font-size: 16px;
    font-style: italic;
    padding: 16px 10px 0 0;
    font-weight: normal;
}
.navbar-default .navbar-nav>li>a span { font-weight: normal; }
.navbar-brand { padding-top: 11px; }

.navbar-default {
  /*background-color: #f2fbfe;*/
  background-color: #F5EFF9;
  border-bottom:solid 1px #d7d7e7;
  box-shadow: 0px 0px 12px #d0d0d0;
  border-radius: 0;
  }

p.description {
    padding: 6px 0 30px;
    font-style: italic;
}
.tab-pane {
    padding-top: 20px;
    padding-bottom: 20px;
}

textarea.form-control {
    resize: none;
    border: solid 1px #e7e7e7;
}

p.section {
    margin-top: 20px;
}
p.section:first-child {
    margin-top: 0;
}
.fa-question-circle { color: #714fa5; }


#logo-container { text-align: center; }

/*  in-modal message
*/
.modal-msg {display: inline-block;margin: 4px 6px;}

/*  in-modal confirm panel 
*/
.modal-confirm {
    position:absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.85;
    z-index: 1001;
}
.modal-confirm > div {display: table;width: 100%;height: 100%;}
.modal-confirm > div > div {display: table-cell;text-align: center;vertical-align: middle;}
.modal-confirm button {margin-left: 8px;margin-right: 8px;}

/*  in-modal progress panel 
*/
.modal-progress {
    position:absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    min-height: 100px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.85;
    z-index: 1000;
}
.modal-progress > div {display: table;width: 100%;height: 100%;}
.modal-progress > div > div {display: table-cell;text-align: center;vertical-align: middle;}
.modal-progress i {margin-top: 10px;margin-bottom: 10px;}

/*  in-modal (user) input panel 
*/
.modal-input {
    position:absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    min-height: 100px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.98;
    z-index: 1000;
}
.modal-input > div {display: table;width: 100%;height: 100%;}
.modal-input > div > div {display: table-cell;vertical-align: middle;}
.modal-input .modal-input-buttons {text-align: center;}


/* file selection
*/
.bucket-group.row div:first-child { padding-left: 0; }
.google-secrets-exists {
    /*background: #FFF6E0;*/
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    /*border: 1px solid #C2C579;*/
}
.btn-file {
    overflow: hidden;
    padding: 0 5px;
}
.btn-file,
.btn-default {
    background-color:  #714fa5;
    border-color: #e7e7e7;
    color: white;
    transition: background-color 0.5s ease;
    /*box-shadow: 0px 0px 4px #d0d0d0;*/
}
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover, .open>.dropdown-toggle.btn-default {
    background-color: #4a336d;
    color: white;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

/*  misc
*/

.bucket-disable, .bucket-enable, .bucket-add, .bucket-remove {
    padding-left: 6px;
    padding-right: 6px;
}

.bucket-control-text {text-align: right;}

#site_link {
    position: absolute;
    top: 11px;
    right: 16px;
}

/* inset collapse-ables on settings tab */
#settings_tab div.collapse,
#settings_tab div.collapsing,
#settings_tab div.collapsed {
    padding-left: 20px;
}

#settings_tab #s3 .form-horizontal label {text-align: left;}

.side-note {
    font-weight: normal;
    font-size: 13px;
    color: #999;
    font-family: "Tahoma", Arial, sans-serif;
}
span.side-note {
    margin-left: 15px;
}

.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e7e7;
    /*border-bottom: 1px solid #7000B2;*/
    /*border-bottom: 1px solid #00A8EE;*/
    box-shadow: none;
    webkit-box-shadow: none;
    border-radius: 0;
    webkit-border-radius: 0;
    background-color: #f9f9f9;
    /*background-color: #f2fbfe;*/
    font-family: monospace; 
    color: #714fa5;
}

.form-control:focus {
    border-color: #999;
    background-color: #FFF6E0;
    /*background-color: #E2E58D;*/
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#settings_save {
    padding-left: 30px;
    padding-right: 30px;
}

#blueprints_tab table,
#projects_tab table {
    border-bottom: 2px solid #ddd;
}

#projects_tab .project-title,
#projects_tab .project-title:hover {
    cursor: pointer;
}


/* config_modal
*/

.form-group label.radio-inline:first-child {
    padding-left: 0;
}

.config-collapse {
    margin-top: 12px;
}
