
body {
    padding-top: 10px;
    padding-bottom: 20px;
}

.tab-pane {
    padding-top: 20px;
    padding-bottom: 20px;
}

textarea {
    resize: none;
}

p.section {
    margin-top: 20px;
}
p.section:first-child {
    margin-top: 0;
}

.help {color: black;margin-left: 8px;}


/*  in-modal message
*/
.modal-msg {display: inline-block;margin: 4px 6px;}


/*  in-modal progress panel 
*/
.modal-progress {
    position:absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    min-height: 100px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.85;
    z-index: 1000;
}
.modal-progress > div {display: table;width: 100%;height: 100%;}
.modal-progress > div > div {display: table-cell;text-align: center;vertical-align: middle;}
.modal-progress i {margin-top: 10px;margin-bottom: 10px;}


/* file selection
*/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*  misc
*/

.bucket-disable, .bucket-enable, .bucket-add, .bucket-remove {
    padding-left: 6px;
    padding-right: 6px;
}

.bucket-control-text {text-align: right;}

#site_link {
    position: absolute;
    top: 11px;
    right: 16px;
}

/* inset collapse-ables on settings tab */
#settings_tab div.collapse, 
#settings_tab div.collapsing,
#settings_tab div.collapsed {
    padding-left: 20px; 
}

#settings_tab #s3 .form-horizontal label {text-align: left;}

#settings_save {
    padding-left: 30px;
    padding-right: 30px;
}

