{# The default project templates assumes a _base.html template to be extended. #}
{% extends '_base.html' %}

{% block css %}

{# Call base template css block #}
{{ super() }}

{# Now add our stylesheet using static_url function #}
<link rel="stylesheet" type="text/css" href="{{ static_url('example-project', '/css/style.css') }}" />
{% endblock %}

{# Uncomment the next line to use your skip the Tarbell app and use your own Javascript. #}
{# {% block scripts %}{% endblock scripts %} #}

{% block content %}
<div class="container-fluid">
    <h1>{{ title }}</h1>

    <!-- The demonstration Backbone view creates a navigation bar by parsing the 
       ID and data-title attribute of each section tag. //-->
    <section id="great-work" data-title="Get started">
        <h2>Great work! Get ready to build your project</h2>

        <p>Grab a cup of coffee and tea and started on your new project. This page currently demonstrates basic features of Tarbell and the base template to help get you started. When you're ready to start building your project, edit <code>example-project/templates/index.html</code> to replace this page.</p>

        

        <p>Below, you'll find some simple Javascript examples and a demonstration of the <code>read_file</code> helper that repeats <a target="_blank" href="/readme/#build">project building documentation</a> for your convenience.</p>
        
    </section>

    <hr />
    
    <!-- Javascript examples -->
    <section id="javascript-examples" data-title="Javascript examples">
        <h2>Javascript examples</h2>

        <div class="row-fluid">
            <div class="span3">
                <!-- Random Ida Tarbell quote -->
                <h3>Ida Tarbell says...</h3>
                <p id="tarbell-quote"></p>
                <img id="tarbell-image" src="{{ static_url('readme', '/img/ida-tarbell.jpg') }}" alt="Portrait of Ida Tarbell" />
            </div>
            <div class="span4">
                <!-- Moment JS --> 
                <h3>The current time is...</h3>
                <p id="moment"></p>
                
                <hr />

                <!-- Spin JS --> 
                <h3>Spin, spin, spin...</h3>
                <div id="spinner"></div>
            </div>
            <div class="span5">
                <h3>Neat! How does it work?</h3>
                <p>The navbar, quote generator, current time, and spinner are all set up by
                the default Javascript app associated with this project, which uses
                RequireJS to automatically create an environment for app development.
                Edit the default app in <code>example-project/static/app.js</code>. 

                <h3>How do I turn it off?</h3>
                <p>To disable the default Javascript behavior and do your own thing, add an empty <code>{{ "{% block scripts %}{% endblock scripts %}" }}</code> to your <code>index.html</code> template and start populating it with script tags.</p>
            </div>
        </div>
    </section>

    <hr />

    
    <section id="build" data-title="Building reference">
        {{ read_file('readme/docs/build.md')|markdown }}
    </section>

{% endblock %}