<div class="tab-pane" id="blueprints_tab">
    <div id="blueprints_alert" class="alert alert-info" role="alert">
        <strong>There are no Tarbell blueprints installed!</strong>
        <p>Run <code>tarbell install-blueprint &lt;url to blueprint&gt;</code> from the command line to install Tarbell blueprints.</p>
    </div>
    <table class="table" id="blueprints_table">
        <thead>
            <th class="col-xs-5">Name</th>
            <th class="col-xs-7">URL</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div> <!-- // blueprints_tab-->

