<div class="tab-pane" id="projects_tab">
    <div id="projects_alert" class="alert alert-info" role="alert">
        <strong>No Tarbell projects found!</strong>
        <p>Run <code>tarbell newproject &lt;project&gt;</code> from the command line to create a new project.</p>
    </div>
    <table class="table" id="projects_table">
        <thead>
            <th class="col-xs-4">Directory</th>
            <th class="col-xs-8">Title</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div> <!-- // projects_tab-->
