<!DOCTYPE html>
<html lang="en">
<head>
<title>Tarbell Administration</title>
<meta charset="utf-8">
<meta name="description" content="Tarbell Administration">
<link rel="stylesheet" href="/static/bootstrap-3.3.2-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/font-awesome-4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/admin.css">
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/underscore-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/json2.js"></script>
</head>
<body>

<div class="container-fluid">
<div class="row">
<div class="col-xs-12">

<div id="site_link">
    <a href="http://www.tarbell.io/" target="_blank">tarbell.io</a>&nbsp;&nbsp;{{ version }}
</div>

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#settings_tab" role="tab" data-toggle="tab">Settings</a></li>
</ul>

<div id="tab_content" class="tab-content" style="display: none;">

<div class="tab-pane active" id="settings_tab">   

<p class="section">
    <div class="checkbox">
        <label data-toggle="collapse" data-target="#google">
            <input type="checkbox" id="use_google"> Use Google spreadsheets
        </label>
        <a class="help" href="http://tarbell.readthedocs.org/en/{{ version }}/install.html#configure-google-spreadsheet-access-optional" target="_blank">
            <i class="fa fa-question-circle"></i>
        </a>
    </div>
    <div id="google" class="collapse">
        <form>
            <div class="form-group">
                <label>Google credentials</label>
                <p class="form-control-static text-danger google-secrets-exists">
                    A client_secrets.json file exists.
                </p>
                <p class="form-control-static">
                    Login to Google and go to <a href="https://console.developers.google.com/project" target="_blank">
                    https://console.developers.google.com/project</a> to create an app and generate a client_secrets
                    authentication file.  You should create credentials for an "installed app".
                </p>  
                <span>                
                    <span class="btn btn-default btn-file">
                        Select New Secrets File <input id="google_secrets_file" type="file" accept="application/json">
                    </span>
                </span>
                <a id="google_authenticate" class="btn btn-default" disabled>Authenticate Secrets File</a>
            </div>
            <div class="form-group">           
                <label>Google account(s) with access to new spreadsheets</label>
                <p class="form-control-static">
                    Enter the Google account(s) that should have access to new spreadsheets, separating multiple addresses with commas.
                    Leave this field blank to specify accounts for each new project.
                </p>
                <textarea id="google_emails" class="form-control google-emails" rows="3" placeholder="somebody@gmail.com" aria-describedby="google_emails_help"></textarea>
            </div>
        </form>
    </div>
</p>

<p class="section">
    <div class="checkbox">
        <label data-toggle="collapse" data-target="#s3">
            <input type="checkbox" id="use_s3"> Use S3
        </label>
        <a class="help" href="http://tarbell.readthedocs.org/en/{{ version }}/install.html#configure-amazon-s3" target="_blank">
            <i class="fa fa-question-circle"></i>
        </a>
    </div>
    <div id="s3" class="collapse">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="default_s3_access_key_id" class="col-xs-4 control-label">Default Access Key ID</label>
                <div class="col-xs-8">
                    <input type="text" id="default_s3_access_key_id" class="form-control" value="">
                </div>    
            </div>
            <div class="form-group">
                <label for="default_s3_secret_access_key" class="col-xs-4 control-label">Default Secret Access Key</label>
                <div class="col-xs-8">
                    <input type="text" id="default_s3_secret_access_key" class="form-control" value="">
                </div>    
            </div>
            <div class="form-group">
                <label for="default_s3_buckets_staging" class="col-xs-4 control-label">Default staging bucket</label>
                <div class="col-xs-8">
                    <input type="text" id="default_s3_buckets_staging" class="form-control" value="">
                </div>    
            </div>
            <div class="form-group">
                <label for="default_s3_buckets_production" class="col-xs-4 control-label">Default production bucket</label>
                <div class="col-xs-8">
                    <input type="text" id="default_s3_buckets_production" class="form-control" value="">
                </div>    
            </div>
        </form>
        <form class="form-horizontal" id="s3_credentials">
            <div class="form-group">
                <div class="col-xs-12">
                    <p>Specify any additional S3 buckets.  Be sure to enter an access key and secret access key if they differ from the defaults.</p>
                </div>
            </div>
            <!-- #bucket_template insertion -->
            <div class="form-group">
                <div class="col-xs-11 bucket-control-text">
                    <p class="form-control-static text-muted"><em>Add a row &gt;</em></p>
                </div>       
                <div class="col-xs-1">
                    <a class="btn text-success bucket-add" href="javascript:" onclick="bucket_add(this)">
                        <i class="fa fa-lg fa-plus"></i></a>           
                </div>
            </div>
        </form>
    </div>
</p>

<p class="section">
    <form>
        <div class="form-group">   
            <label>Projects Path</label>
            <p class="form-control-static">
                This is where your Tarbell projects will be located.  This path will be used by <code>tarbell list</code> and <code>tarbell switch</code>.
            </p>
            <input type="text" class="form-control" id="projects_path" value="" 
                placeholder="{{ defaults.projects_path }}" aria-describedby="projects_path_help">
        </div>
    </form>
</p>

<p class="section">
    <div class="col-xs-12">
        <button type="button" class="btn btn-success center-block" id="settings_save" disabled>Save Settings</button>
    </div>
</p>

</div> <!-- // settings_tab-->

</div> <!-- // tab-content -->

</div> <!-- // col-xs-12 -->
</div> <!-- // row -->
</div> <!-- // container-fluid -->

<!-- MODAL: progress -->
<div id="progress_modal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="modal-progress">
                <div>
                    <div>
                        <i class="fa fa-3x fa-spinner fa-spin"></i>
                        <p><span class="modal-msg"></span>...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL: input -->
<div id="input_modal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Authenticate Secrets</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <p class="form-control-static modal-msg"></p>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" value="" placeholder="enter your confirmation code">
                    </div>               
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">Cancel</button>
                <button type="button" class="btn btn-primary">Submit Code</button>
            </div>
        </div>
    </div>
</div>


<!-- UNDERSCORE TEMPLATES -->

<script type="text/template" id="error_alert_template">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
    </div>
</script>

<script type="text/template" id="success_alert_template">
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
    </div>
</script>

<script type="text/template" id="google_msg_template">
    <a href="<%= url %>" target="_blank">Click here</a> to authorize this
    application to create and access Google spreadsheets to use with Tarbell
    projects. After authenticating, you will receive a confirmation code.
    Enter it below.
</script>
                       
<script type="text/template" id="edit_bucket_template">
    <div class="form-group bucket-group">
        <div class="col-xs-4">
            <input type="text" class="form-control bucket-url" value="<%= name %>" placeholder="bucket.myorg.com">
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control bucket-key" value="<%= access_key_id %>" placeholder="access key id">            
        </div>
        <div class="col-xs-4">
            <input type="text" class="form-control bucket-secret" value="<%= secret_access_key %>" placeholder="secret access key">
        </div>
        <div class="col-xs-1">
            <a class="btn text-danger bucket-disable" href="javascript:" onclick="bucket_disable(this)">
                <i class="fa fa-lg fa-remove"></i></a>                         
            <a class="btn text-success bucket-enable" href="javascript:" onclick="bucket_enable(this)" style="display: none;">
                <i class="fa fa-lg fa-plus"></i></a>                         
        </div>
    </div>                            
</script>

<script type="text/template" id="add_bucket_template">
    <div class="form-group bucket-group">
        <div class="col-xs-4">
            <input type="text" class="form-control bucket-url" value="<%= name %>" placeholder="bucket.myorg.com">
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control bucket-key" value="<%= access_key_id %>" placeholder="access key id">            
        </div>
        <div class="col-xs-4">
            <input type="text" class="form-control bucket-secret" value="<%= secret_access_key %>" placeholder="secret access key">
        </div>
        <div class="col-xs-1">
            <a class="btn text-danger bucket-remove" href="javascript:" onclick="bucket_remove(this)">
                <i class="fa fa-lg fa-remove"></i></a>                         
        </div>
    </div>                            
</script>


<script type="text/javascript" src="/static/js/admin-util.js"></script>
<script type="text/javascript" src="/static/js/admin-modal.js"></script>
<script type="text/javascript" src="/static/js/admin.js"></script>

<script type="text/javascript">

var _defaults = {{ defaults|tojson }};

var _settings = {{ settings|tojson }};

var _config = _settings.config;

</script>

</body>
</html>